<!--THE MODEL-->

<!-- Modal Trigger -->
<br>
<a class="waves-effect waves-light btn modal-trigger" (click)="openModal()">{{'ADD_COMMODITY'|translate:lang}}</a>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">

    <h4>
      <ng-container *ngIf="!isEdit">  {{'ADD'|translate:lang}}</ng-container>
      <ng-container *ngIf="isEdit">  {{'EDIT'|translate:lang}} </ng-container>
      {{'COMMODITY'|translate:lang}}
    </h4>
    <form *ngIf="!parent" novalidate [formGroup]="form">

      <div class="row" >

        <div class="row col s6">
          <div class="row">
            <label >{{'NAME'|translate:lang}}</label>
          </div>
          <div class="row">
            <input name="'NAME'|translate:lang" [placeholder]="'NAME'|translate:lang" formControlName="name" type="text" >
          </div>
        </div>

        <div class="row col s6">
          <div class="row">
            <label >{{'PRICE'|translate:lang}}</label>
          </div>
          <div class="row">
            <input  name="'PRICE'|translate:lang" [placeholder]="'PRICE'|translate:lang" formControlName="price" type="number">
          </div>
        </div>
    </div>
</form>

    <form  *ngIf="parent" novalidate [formGroup]="form">

      <div class="row" >

        <div class="row col s4">
          <div class="row">
            <label >{{'TYPE_NUMBER'|translate:lang}}</label>
          </div>
          <div class="row">
            <input auto-complete
                   display-property-name="no" (valueChanged)="selectedCommodity=$event" [ngModel]="selectedCommodity?.no"  [source]="commoditiesSource"
                   name="'TYPE_NUMBER'|translate:lang" [placeholder]="'TYPE_NUMBER'|translate:lang" formControlName="no" type="number" >
          </div>
        </div>

        <div class="row col s4">
          <div class="row">
            <label >{{'NAME'|translate:lang}}</label>
          </div>

          <div class="row">
            <input auto-complete display-property-name="name" (valueChanged)="selectedCommodity=$event" [ngModel]="selectedCommodity?.name"
                   [source]="commoditiesSource" name="'NAME'|translate:lang" [placeholder]="'NAME'|translate:lang" formControlName="name" type="text" >
          </div>
        </div>

        <div class="row col s4">
          <div class="row">
            <label >{{'PRICE'|translate:lang}}</label>
          </div>
          <div class="row">
            <input  name="'PRICE'|translate:lang" [placeholder]="'PRICE'|translate:lang" formControlName="price" type="number">
          </div>
        </div>
      </div>
    </form>



  </div>

  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" [ngClass]="{'disabled':form.invalid}" *ngIf="!isEdit" (click)="add()">{{'ADD'|translate:lang}}</a>
    <a class="waves-effect waves-green btn-flat" [ngClass]="{'disabled':form.invalid}" *ngIf="isEdit" (click)="update()">{{'EDIT'|translate:lang}}</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">{{'CANCEL'|translate:lang}}</a>
  </div>
</div>

<!--THE TABLE-->

<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
  <input #globalFilter type="text" pInputText size="50" style="float:left" [placeholder]="'GLOBAL_SEARCH'|translate:lang">
</div>
<p-dataTable [value]="commodities"  selectionMode="single" [globalFilter]="globalFilter" [rows]="15"
             scrollable="true" [paginator]="true"     [(selection)]="selectedRow" [contextMenu]="cMenu"
             [globalFilter]="globalFilter" sortMode="multiple">

  <p-column *ngFor="let col of columns"  [field]="col.field" [header]="col.header" [filter]="col.filter" [sortable]="col.sortable" > </p-column>

  <!--<p-column field="no"    [filter]="true" [sortable]="true" [header]="'TYPE_NUMBER' | translate:lang"></p-column>-->
  <!--<p-column field="name"  [filter]="true" [sortable]="true" [header]="'NAME' | translate:lang"></p-column>-->
  <!--<p-column field="price" [filter]="true" [sortable]="true" [header]="'PRICE' | translate:lang"></p-column>-->

</p-dataTable>

<p-contextMenu #cMenu [model]="items"></p-contextMenu>

